Шаг 1. Подключение к базе

In [1]:
import os
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db_local = 'telecomm_csi.db'
path_to_db_platform = '/datasets/telecomm_csi.db'
path_to_db = None

if os.path.exists(path_to_db_local):
    path_to_db = path_to_db_local
elif os.path.exists(path_to_db_platform):
    path_to_db = path_to_db_platform
else:
    raise Exception('Файл с базой данных SQLite не найден!')

if path_to_db:
    engine = create_engine(f'sqlite:///{path_to_db}', echo=False)

Шаг 2. Выгрузка данных с помощью SQL запросов

In [3]:
query = """
SELECT u.user_id,
       u.lt_day,
       
       CASE WHEN u.lt_day <= 365 THEN 'да'
            ELSE 'нет'
            END as is_new,
            
       u.age,
       
       CASE WHEN u.gender_segment = 1 THEN 'женщина'
            WHEN u.gender_segment = 0 THEN 'мужчина'
            ELSE 'другой'
            END as gender_segment,
            
        u.os_name,
        u.cpe_type_name,
        l.country,
        l.city,
        ag.title as age_segment,
        ts.title as traffic_segment,
        ls.title as lifetime_segment,
        u.nps_score,
        
        CASE WHEN u.nps_score >= 9 THEN 'cторонники'
             WHEN u.nps_score >= 7 THEN 'нейтралы'
             ELSE 'критики'
             END as nps_group
             
FROM user as u 
LEFT JOIN location as l on u.location_id = l.location_id
LEFT JOIN age_segment as ag on u.age_gr_id = ag.age_gr_id
LEFT JOIN traffic_segment as ts on u.tr_gr_id = ts.tr_gr_id
LEFT JOIN lifetime_segment as ls on u.lt_gr_id = ls.lt_gr_id;

"""

In [4]:
df = pd.read_sql(query, engine)
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,нет,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,cторонники
1,A001WF,2344,нет,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,cторонники
2,A003Q7,467,нет,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,cторонники

In [5]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера v_1: <a class="tocSkip"> </h2>  
    
✅ Сделано хорошо:
    
* на вкладке расположено несколько графиков
    
* есть заголовки визуализаций

* есть подписи на визуализациях
    
* подписи во всплывающих подсказках визуализаций на русском языке
     
* представлены необходимые графики по распределению участников
    
* графики выглядят отлично на дашборде, ничего не съезжает
    
* даны ответы на все вопросы по распределению

<div class="alert alert-info"  style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
    
<h2>Ссылка на дашборд: <a class="tocSkip"> </h2>
    
    
https://public.tableau.com/views/_17224378201730/NPS_7?:language=en-US&publish=yes&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link